{{#each cards}}
<div class="playingCard card col-6 p-1" data-cost="{{cost}}" style="background-color: {{backColor}};">
  <div class="card-body p-1">
    <h4 class="card-title">{{cost}}</h4>
    <p class="card-text text-center m-0" style="background-color: #CCCCCC">{{name}}</p>
    <p class="card-text">{{description}}</p>
  </div>
</div>
{{/each}}
