<div class="cardThumbnail card col-auto p-0" data-id={{id}}>
  <div class="card-body d-flex flex-column p-0">
    <div class="card-text text-center m-0" style="background-color: #dddddd">{{name}} x {{count}}</div>
    <div class="card-text text-center mt-auto"><i class="fa fa-bolt" aria-hidden="true"></i>{{attack}} <i class="fa fa-shield" aria-hidden="true"></i>{{defense}}</div>
  </div>
</div>
