<h3 class="text-center">{{deck.name}}</h3>
<form id="saveDeckForm">
  <input type="hidden" name="deck" value="{{deck.id}}">
  <div class="row justify-content-center">
    <div class="form-group">
      <label>Army Name</label>
      <input type="text" name="deckName" value="{{deck.name}}" required>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <select name="from" id="multiselect" class="form-control" size="8">
      </select>
    </div>
    <div class="col-2">
      <!-- <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="fa fa-forward"></i></button> -->
      <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="fa fa-chevron-right"></i></button>
      <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="fa fa-chevron-left"></i></button>
      <!-- <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="fa fa-backward"></i></button> -->
    </div>
    <div class="col-5">
      <select name="to" id="multiselect_to" class="form-control" size="8">
        {{#each deck.cards as |card|}}
        <option data-cid="{{card.cardInDeckId}} value="{{card.id}}">{{card.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="row justify-content-center">
    <button type="submit" class="btn btn-primary col-12 col-md-6 col-xl-5">Save Army</button>
  </div>
</form>
