<div class="modal fade" id="cardViewModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
          <div class="modal-body row justify-content-center p-1">
            <div class="playingCard card col-auto" style="background-color: {{backColor}};">
              <div class="card-body d-flex flex-column p-1">
                <h4 class="card-title m-0">{{cost}}</h4>
                <div class="text-muted">{{card_type}}</div>
                <div class="card-text text-center m-0" style="background-color: #dddddd">{{name}}</div>
                <div class="card-text text-center mt-auto"><i class="fa fa-bolt" aria-hidden="true"></i>{{attack}} <i class="fa fa-shield" aria-hidden="true"></i>{{defense}}</div>
              </div>
            </div>
          </div>
          <div class="card-text text-center font-italic m-0 mb-1">{{description}}</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
